{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}

{% block content %}
<section id="content" class="content autopagerize_page_element">
    {% for article in articles_page.object_list %}
        {% include 'includes/article_unit.html' %}
        {% if loop.last %}
            </ol><!-- /#posts-list -->
            {% if loop.last and (articles_page.has_previous()
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
            </section><!-- /#content -->
        {% endif %}
    {% endfor %}
</section>
<div class="autopagerize_insert_before"></div>
{% endblock %}
