{% import 'includes/twitter.html' as twitter %}
{% import 'includes/gplus.html' as gplus %}

<article>
  <header class="page-header">
    <h1 class="site-article-title">
      {% if articles_page %}
      <a href="{{ SITEURL }}/{{ article.url }}"
         rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">
         {{ article.title|striptags }}
      </a>
      {% else %}
         {{ article.title|striptags }}
      {% endif %}
    </h1>
    <div class="post-date">
      <time datetime="{{ article.date|strftime('%Y-%m-%d') }}">
        {{ article.date|strftime("%Y-%m-%d") }}
      </time>
    </div>
  </header>
  <div class="article-content">
    {{ article.content }}
  </div>
</article>
